p {
  font-family: "Montserrat", sans-serif;
  font-size: large;
  color: darkslategray;
}


a:link {
  font-family: "Montserrat", sans-serif;
  color:darkviolet;
}

a:visited{
    color:green;
}

.textCard {
    font-size: 15%;
}

.imgStyle {
  width: 100%;
  height: 225px;
}
.imgGrid {
    max-height: 360px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, -50%);
  gap: 10px;
  grid-template-rows: repeat(5, -50%);
  margin: 50px;
}
.one {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.two {
  grid-column: 3 / 6;
  grid-row: 2;
}

.box {
  border-radius: 5px;
  text-align:justify;
  font-family: "Montserrat", sans-serif;
}
